html
	include ../_/head
	body
		include ../_/header
		p <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=#{data.app.app.id}" >Перейдите по ссылке</a> и разрешите подключение
		include ../_/footer